<h1>Stock de álbumes</h1>

<table>
  <tr>
    <th>Título</th>
    <th>Grupo</th>
    <th>Género</th>
  </tr>

  <% @albums.each do |a| %>
    <tr>
      <td><%= a.titulo %></td>
      <td><%= a.grupo %></td>
      <td><%= a.genero %></td>
      <td><%= link_to 'Show', catalogo_path(a) %></td>
    </tr>
  <% end %>
</table>
