<p>
  <%= fecha_venta.label :fecha_venta, 'Fecha venta' %><br>
  <%= fecha_venta.date_select :fecha_venta, :use_month_names => [
      'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
      'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'
    ]  %>
</p>
