<p>
  <%= fechaVenta.label :fechaVenta, 'Fecha venta' %><br>
  <%= fechaVenta.date_select :fechaVenta, :use_month_names => [
      'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
      'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'
    ]  %>
</p>
