/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{ font-family: sans-serif; }



.album{
  margin-left: 20px;
  margin-top: 20px;
  width: 400px;
}

.album-photo img{
  width: 100%;
  border-radius: 20px;
}


.album-photo{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #b3cccc;
}

.bottom-album{
  width: 100%;
  display: flex;
}

.album-sides{
  background: #b3cccc;
  float: left;
}

.album-bar{
  width: 100%;
}

.album-titles{
  flex: 1;
  height: 100%;
  text-align: right;
  font-weight: bold;
}

.album-content{
  flex: 1;
  text-align: left;
}

.bottom-album ul{
  list-style-type: none;
}

.bottom-album li{
  padding: 5px 0px;
}


.buttons {
  border: 1px solid #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c8a8a;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.buttons li {
  border-bottom: 1px solid #fff;
}

.buttons li:last-child {
  border-bottom: none;
}

.buttons li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.buttons li a:hover {
  background-color: #3d5c5c;
}

.show-album-photo img{
  width: 100%;
  border-radius: 20px;
}
