// Place all the styles related to the Catalogo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-photo img{
}

.new-button a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.new-button {
  border: 1px solid #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff944d;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.new-button a:hover {
  background-color: #ff6600;
}


.index-buttons {
  border: 1px solid #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c8a8a;
  border-radius: 10px;
}

.index-buttons li {
  float:left;
  border-left: 1px solid #fff;
}

.index-buttons li:first-child {
  border-left: none;
}

.index-buttons li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

.index-buttons li a:hover {
  background-color: #3d5c5c;
}

.index-table{
  margin-top:5em;
  margin-left:5em;
  background: #e0ebeb;
  border-radius: 1em;
}

.index-table td{
  padding: 0px 10px;
}

.index-table th{
  border-left: 1px solid black;
}

.index-table th:first-child{
  border-left: none;
}
